.class-title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-60%, -35%);
    color: white;
    border: 1px solid white;
    padding: 10px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.coffee-background {
    min-height: 80vh;
    background: url("../../images/two-coffee.jpg");
    background-size: cover;
    background-position: calc(50% - 70px) 50%;
}

.button-center {
    display: flex;
    justify-content: center;
}

.details-container {
    padding: 15px;
}

.register-button {
    width: 100px;
}
