.section {
    min-height: 50vh;
}

#big-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-60%, -35%);
}

#landing {
    background: url("../../images/coffee-sunrise.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
